{% extends "base.html" %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock%}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Hmmm, something is not quite right here..... &#128531;<i class="fa-solid fa-cloud-exclamation"></i></h2>
            <h3>Error: 404</h3>
            <p>We can't find the page you're looking for!</p>
            <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0">
                <span class="font-weight-bold">Return home!</span>
            </a>
            <hr>
        </div>
    </div>
</div>

{% endblock %}